{% extends 'emails/_baseEmails.html.twig' %}

{% block title %}Activation de votre compte - {{ parent() }}{% endblock %}

{% block body %}
    <div class="paragraph">
        <div>Bonjour,</div>
        <div>Le changement de votre mot de passe sur <b>{{ appName }}</b> a bien été pris en compte.</div>
    </div>

    <div class="paragraph">
        <div>
            Si vous n'êtes pas à l'origine de ce changement, veuillez réinitialiser votre mot de passe via le lien "mot
            de passe oublié" le plus rapidement possible.
        </div>
        <div>Contactez également votre administrateur local pour le notifier du problème !</div>
    </div>

{% endblock %}